In [52]:
from faker import Faker
from faker.providers import DynamicProvider
from datetime import datetime
import pandas as pd
import numpy as np
import random


laptop_ids = []
laptops = pd.read_csv('laptops.csv')
for i in range(len(laptops)):
    laptop_ids.append('LAP-' + str(i).zfill(8) )


fitness_ids = []
fitness_products = pd.read_csv('healthFitness.csv')
for i in range(len(fitness_products)):
    fitness_ids.append('FIT-' + str(i).zfill(8) )


automation_ids = []
automation_products = pd.read_csv('homeAutomation.csv')
for i in range(len(automation_products)):
    automation_ids.append('AUT-' + str(i).zfill(8) )
    
cell_ids = []
cells = pd.read_csv('cellPhones.csv')
for i in range(len(cells)):
    cell_ids.append('CEL-' + str(i).zfill(8) )
    
all_products = laptop_ids 

all_products.extend(fitness_ids)
all_products.extend(automation_ids)
all_products.extend(cell_ids)

products_provider = DynamicProvider (
    provider_name='product_id',
    elements=all_products,
)

fake = Faker()
fake.add_provider(products_provider)

def multiple_products(n):
    products =[]
    for _ in range(n):
        products.append(fake.product_id())
    return products

['FIT-00000851', 'LAP-00000797', 'AUT-00000291']

In [42]:
# Generate Customer List
customers = []

for _ in range(1000):
    customers.append(
        {
            'cust_name': fake.name(),
            'phone_number': fake.phone_number(),
            'email': fake.email(),
            'address':fake.address(),
            'birthday': fake.date_between_dates(datetime.strptime('1/1/1950','%m/%d/%Y'),datetime.strptime('12/31/2000','%m/%d/%Y'))
        })

df_cust = pd.DataFrame.from_dict(customers)

In [43]:
df_cust.reset_index(inplace=True)
df_cust['cust_id'] = 'CUST-'
df_cust['cust_id'] = df_cust['cust_id'] + str

,cust_name,phone_number,email,address,birthday
0,Sharon Jimenez,311-578-3471x306,torresjake@example.org,"54983 Brandon Tunnel\nPort Jacqueline, CA 75281",1974-10-20
1,Ian Reese,220-061-5788,rhodeschristine@example.com,"8339 White Loop Suite 342\nThompsonview, ID 18501",1959-06-29
2,David Abbott,554.093.3956,shepherdkeith@example.net,"41361 Matthew Bypass Suite 270\nRiosland, GA 4...",1987-04-13
3,Deborah Rodgers,955.296.9759x9529,danielbrady@example.org,"59780 Shields Knoll Apt. 615\nNew Cynthia, KS ...",1957-05-31
4,Robert Brooks,529-244-6703x632,paul46@example.net,"PSC 9435, Box 2640\nAPO AE 20348",1999-10-09
...,...,...,...,...,...
995,James Dixon,+1-601-109-0713x92085,amandaortega@example.com,"1982 Dominic Heights\nJenniferchester, DE 06318",1960-07-03
996,William Perez,477-046-2376x164,sross@example.org,"2116 Sarah Radial Apt. 617\nWest Joseph, NC 68285",1967-05-10
997,Justin Stanley,046-781-8536,colemantimothy@example.net,"9578 Brandon Village\nSouth Brandon, PR 25975",1994-07-19
998,Mary Boyle,(667)183-8289,richardrojas@example.com,"4126 Cynthia Spur\nEast Kennethborough, MN 27812",1989-02-01
999,Katherine Murphy,(263)664-3063,jeremy42@example.net,"7738 Sherri Groves\nPort Kathy, GU 42240",1961-05-03

In [8]:
fake.name()
fake.phone_number()
fake.date_between_dates(datetime.strptime('1/1/2020','%m/%d/%Y'),datetime.strptime('12/1/2022','%m/%d/%Y'))

'+1-689-765-3236'

In [48]:
customers = []

for _ in range(1000):
    customers.append(
        {
            'cust_name': fake.name(),
            'phone_number': fake.phone_number(),
            'email': fake.email(),
            'address':fake.address(),
            'birthday': fake.date_between_dates(datetime.strptime('1/1/1950','%m/%d/%Y'),datetime.strptime('12/31/2000','%m/%d/%Y'))
        })

df_cust = pd.DataFrame.from_dict(customers)
df_cust.reset_index(inplace=True)
df_cust = df_cust.rename({'index':'id'},axis='columns')
df_cust.to_csv('customers.csv',index=False)

In [59]:
transactions = []

for _ in range(50_000):
    transactions.append(
        {
            'cust_id': random.randrange(0,1000),
            'store_id': random.randrange(0,35),
            'products': multiple_products(random.randrange(1,5)),
            'transaction_date': fake.date_between_dates(datetime.strptime('1/1/1990','%m/%d/%Y'),datetime.strptime('12/31/2000','%m/%d/%Y'))
        })
df_transactions = pd.DataFrame.from_dict(transactions)
df_transactions.reset_index(inplace=True)
df_transactions = df_transactions.rename({'index':'id'},axis='columns')
df_transactions.to_csv('transactions.csv',index=False)

In [60]:
df_transactions.head()

,id,cust_id,store_id,products,transaction_date
0,0,248,34,"[AUT-00001173, AUT-00000275, FIT-00000190]",1997-07-18
1,1,521,28,"[AUT-00000230, LAP-00000032, FIT-00002251, AUT...",1996-10-21
2,2,342,30,"[AUT-00000135, FIT-00001030, CEL-00000476]",1996-02-27
3,3,887,29,"[AUT-00000838, FIT-00000147, AUT-00000864]",1992-07-12
4,4,444,11,"[FIT-00000176, CEL-00000229, LAP-00000324, CEL...",1995-01-15

In [ ]:
laptop_ids = []
laptops = pd.read_csv('laptops.csv')
for i in range(len(laptops)):
    laptop_ids.append('LA-' + str(i).zfill(8) )
laptop_ids

In [63]:
laptops.reset_index(inplace=True)
laptops.head()

,index,color,condition,customerReviewAverage,customerReviewCount,description,features,longDescription,manufacturer,modelNumber,name,regularPrice,salePrice,shortDescription,sku,type,upc
0,0,Abyss Blue,New,4.2,259.0,NaN,[{'feature': 'Google Chrome OS\nChromebook is ...,Lenovo&#8482; IdeaPad&#8482; Flex 5 Chromebook...,Lenovo,82M70000US,"Lenovo - Flex 5 13"" 2-in-1 Chromebook - Pentiu...",419.0,219.99,NaN,6454254,HardGood,195713714631
1,1,Abyss Blue,New,4.3,303.0,NaN,[{'feature': 'Chrome Operating System\nChromeb...,"The thin and light 13"" IdeaPad Duet 5 Chromebo...",Lenovo,82QS001HUS,"Lenovo - IdeaPad Duet 5 Chromebook - 13.3"" OLE...",499.0,499.00,NaN,6477625,HardGood,196118500928
2,2,Abyss Blue,New,4.6,71.0,NaN,[{'feature': 'Chrome OS\nChromebook is a compu...,"Fast, flexible, and fun, the Lenovo&#8482; Ide...",Lenovo,82BB000AUS,"Lenovo - Flex 3 Chromebook 11.6"" HD Touch-scre...",189.0,189.00,NaN,6500336,HardGood,194778319782
3,3,Abyss Blue,New,4.7,762.0,NaN,[{'feature': 'Chrome OS\nChromebook is a compu...,Packs what makes Chromebook so amazing into on...,Lenovo,82KM0003US,"Lenovo - Flex 3 Chromebook 11.6"" HD Touch-scre...",179.0,179.00,NaN,6500337,HardGood,195713266192
4,4,Abyss Blue,New,4.4,62.0,NaN,[{'feature': 'Chrome Operating System\nChromeb...,One of the most versatile Chromebooks on the m...,Lenovo,82T3000DUS,"Lenovo - Flex 3i Chromebook 15.6"" FHD Touch-Sc...",429.0,329.00,NaN,6500917,HardGood,196379610534

In [65]:
laptops['id'] = 'LA-'
laptops.head()

,index,color,condition,customerReviewAverage,customerReviewCount,description,features,longDescription,manufacturer,modelNumber,name,regularPrice,salePrice,shortDescription,sku,type,upc,id
0,0,Abyss Blue,New,4.2,259.0,NaN,[{'feature': 'Google Chrome OS\nChromebook is ...,Lenovo&#8482; IdeaPad&#8482; Flex 5 Chromebook...,Lenovo,82M70000US,"Lenovo - Flex 5 13"" 2-in-1 Chromebook - Pentiu...",419.0,219.99,NaN,6454254,HardGood,195713714631,LA-
1,1,Abyss Blue,New,4.3,303.0,NaN,[{'feature': 'Chrome Operating System\nChromeb...,"The thin and light 13"" IdeaPad Duet 5 Chromebo...",Lenovo,82QS001HUS,"Lenovo - IdeaPad Duet 5 Chromebook - 13.3"" OLE...",499.0,499.00,NaN,6477625,HardGood,196118500928,LA-
2,2,Abyss Blue,New,4.6,71.0,NaN,[{'feature': 'Chrome OS\nChromebook is a compu...,"Fast, flexible, and fun, the Lenovo&#8482; Ide...",Lenovo,82BB000AUS,"Lenovo - Flex 3 Chromebook 11.6"" HD Touch-scre...",189.0,189.00,NaN,6500336,HardGood,194778319782,LA-
3,3,Abyss Blue,New,4.7,762.0,NaN,[{'feature': 'Chrome OS\nChromebook is a compu...,Packs what makes Chromebook so amazing into on...,Lenovo,82KM0003US,"Lenovo - Flex 3 Chromebook 11.6"" HD Touch-scre...",179.0,179.00,NaN,6500337,HardGood,195713266192,LA-
4,4,Abyss Blue,New,4.4,62.0,NaN,[{'feature': 'Chrome Operating System\nChromeb...,One of the most versatile Chromebooks on the m...,Lenovo,82T3000DUS,"Lenovo - Flex 3i Chromebook 15.6"" FHD Touch-Sc...",429.0,329.00,NaN,6500917,HardGood,196379610534,LA-

In [66]:
laptops['id'] =  laptops['id'] + str(laptops['index']).zfill(10)

In [71]:
l

array(['LA-0        0\n1        1\n2        2\n3        3\n4        4\n      ... \n823    823\n824    824\n825    825\n826    826\n827    827\nName: index, Length: 828, dtype: int64'],
      dtype=object)